* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  background-color: aquamarine;
}
.small-div {
  overflow: hidden;
  height: 80%;
  width: 80%;
  background-color: rgb(33, 33, 33);
  color: white;
  border-radius: 10px;
}
.panel-top {
  padding: 0px 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: black;
}
.element {
  display: flex;
  align-items: center;
  gap: 20px;
  /* font-weight: 800;
  font-size: 25px; */
  color: blueviolet;
}
.box {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.bottom-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgb(222, 127, 144);
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50px;
  font-weight: 500;
}
.circle:hover {
  background-color: black;
  cursor: pointer;
}
